extends ../layout.jade

block content
  .content-block
    .row
      .small-12.medium-12.large-12.columns
        .news-article
          .news-title
            h3 #{newsItem.title}
          .news-author
            h5 by #{newsItem.author}
          .news-text
            p #{newsItem.body}
          .news-image
            img(src="http://lorempixel.com/1000/700/cats/", alt="Hello News")
          .news-actions.clearfix
            a(id="edit-news", href="/news/#{newsItem._id}/edit", class='button radius small') Edit
            form(method='post',action='/news/#{newsItem._id}?_method=DELETE')
              input(type="hidden",name="_method",value="DELETE")
              input(type='submit',name='delete',value='Delete', class='button radius small')#delete_button
