extends ../layout.jade

block content
  .content-block
    .row
      .small-12.medium-12.large-12.columns
        .article-content
          .article-title
            h3 #{article.title}
          .article-author
            h5 by #{article.author}
          .article-text
            p #{article.body}
          .article-image
            img(src="http://lorempixel.com/1000/700/cats/", alt="Hello News")
          .article-actions.clearfix
            if user
              a(id="edit-article", href="/articles/#{article._id}/edit", class='button radius small') Edit
              form(method='post',action='/articles/#{article._id}?_method=DELETE')
                input(type='submit',name='delete',value='Delete', class='button radius small')#delete_button
